@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
	body {
		background-image: url('/Backgroundimages/wp2668083.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
</style>
<p>Use this page to detail your site's privacy policy.</p>
