html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
a {
    color: black !important;
}
.nav-link {
    color: black !important;
}

.navbar-custom {
    background-color: red !important; /* Change this to your desired color */
    border-color: #222222; /* Optional: change the border color */
}

    .navbar-custom .nav-link {
        color: black !important; /* Ensures text is readable on the dark background */
    }

        .navbar-custom .nav-link:hover {
            color: #cccccc !important; /* Changes color on hover */
        }

.add-role {
    background-color: black; /* Change to your desired color */
    border-color: black; /* Change to your desired color */
    color: red; /* Ensures the text is visible against the background color */
}

.removal-button {
    background-color: black;
    border-color: black;
    color: red;
}

.user-name {
    color: red;
}

.admin-color {
    color: red;
}

.existing-roles {
    color: red;
}

.role-name {
    color: red;
}

.remove-role {
    color: red;
}

.alert-danger {
    color: red;
}

.alert-success {
    background-color: red;
    color: red;
}

.role-color {
    color: red;
}

.table-color {
    color: red;
}

.role-new{
    color: red;
}

.text-color {
    color: red;
}

.new-color {
    color: red;
}

.index-color {
    color: red;
}

.add-new-color {
    color: red;
}

.add-link {
    color: red;
}

.edit-link {
    color: red;
}

.btn danger {
    background-color: red;
    border-color: red;  
    color: red;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('images.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Change the color of the "Edit" link */
.edit-link {
    color: red; /* Choose your desired color */
}